$def with (greeting)

<html>
	<head>
		<title>Gothons of Planet Percal #25</title>
		<style type="text/css">
			body {background-color:gray},
			body {text-align:center},
			p {display:block},
			p {float:center}
			p {
				margin: 50px;
				border: 1px solid black;
				padding: 5px;
				text-align: center;
			}
			
				
		</style>
	</head>
<body>
<p>
$if greeting:
	I just wanted to say <em style="color: white; font-size: 2em;">$greeting</em>.
$else:
	<em>Hello</em>, world!
</p>

</body>
</html>